.carbon-container {
    display: flex;
    align-items: center;
    opacity: 0; /* Initially hide the container */
    transform: translateX(-50px); /* Initially move the container to the left */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Add transition effect */
    padding:4rem;
    background-color: black;
  }
  
  .carbon-image {
    width: 200px; /* Adjust image size as needed */
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .carbon-text {
    flex: 1; /* Take remaining space */
    padding:2rem;
    color:white;
  }
  
  .slide-in {
    opacity: 1; /* Make the container visible */
    transform: translateX(0); /* Move the container to its original position */
  }
  @media screen and (max-width: 449px) {
    .carbon-container {
      flex-direction: column; /* Change flex direction to column */
    }
  }