.gallery-container {
    text-align: center;
    padding: 2rem;
  }
  
  .gallery-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #b52e2e;
  }
  
  .gallery-container p {
    padding-inline: 40px;
    font-size: 1.2rem;
    color: #565656;
    margin-bottom: 2rem;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 0 8rem;
  }
  
  .image-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  /* Hover Effects */
  .image-item img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Patriotic and Landscape Images */
  .patriotic {
    grid-column: span 2;
    height: 400px;
  }
  
  .landscape {
    height: 400px;
  }
  
  /* Media Queries for Small Devices */
  @media (max-width: 768px) {
    .gallery-container h1 {
      font-size: 2rem;
    }
  
    .gallery-container p {
      font-size: 1rem;
    }
  
    .image-grid {
      grid-template-columns: 1fr;
      padding: 0;
    }
  
    .patriotic,
    .landscape {
      grid-column: span 1;
      height: 250px;
    }
  }