.Reg-container {
  display: flex;
  align-items: center;
  padding: 4rem;
  transition: all 0.3s ease;
  background:linear-gradient(green,#ffffff);
}

.carbon-image {
  width: 300px; /* Adjust image size as needed */
  margin-right: 20px; /* Adjust spacing between image and text */
  height: 200px;
  border-radius: 5px;
}

.Reg-text {
  flex: 1; /* Take remaining space */
  padding: 2rem;
  color: black;
}
.Reg-text h2{
  /* flex: 1; */
  padding: 2rem;
  color: #c50c0cf0;
}


.Reg-offers {
  margin-top: 3rem;
}

.Reg-offers h2 {
  color: #c50c0cf0;
  text-align: center;
  font-size: 1.5rem;
}




.Reg-offers h3 {
  color: #619900;
  font-size: 1.2rem;
  margin-bottom: 10px;
  padding: 2rem;
}

.Reg-offers p {
  color: #333333;
  font-size: 1rem;
}

@media screen and (max-width: 685px) {
  .Reg-container {
    flex-direction: column; /* Change flex direction to column */
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .carbon-image {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add bottom margin */
  }

  .Reg-text {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .Reg-offers h2 {
    font-size: 1.2rem; /* Adjust heading size for smaller screens */
  }

  .Reg-offers h3 {
    font-size: 1rem; /* Adjust subheading size for smaller screens */
  }

  .Reg-offers p {
    font-size: 0.9rem; /* Adjust paragraph size for smaller screens */
  }
}

@media screen and (max-width: 401px) {
  .Reg-container {
    padding: 0; /* Remove padding for very small screens */
  }

  .Reg-offers {
    padding: 1rem; /* Add padding for the offers section on very small screens */
  }
}
